<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UN Wallet</title>
    <%- include('partials/head.html'); %>
</head>

<body>
    <%- include('partials/navigation.html'); %>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/img/homeimg.jpg" alt="responsive image">      
            </div>
            <div class="col">
                </br>
                <div class="card">
                    <div class="card-header bg-primary text-white text-center">
                        <h3>
                            UN wallet advantages
                        </h3>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Easy registration</li>
                            <li>Save and recive money</li>                 
                            <li>Recharge your money</li>
                            <li>Save time with UNWallet</li>
                            <li>Fast and secure transactions</li>
                            <li>Make payments to merchants and banks</li>
                            <li>mmediate availability of your money</li>                                              
                            <li>Money on hand without cash</li>                            
                        </ul>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <br>
    <%- include('partials/footer.html'); %>
</body>
</html>