<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in for UN Wallet</title>
    <%- include('partials/head.html'); %>
</head>
<body>
    <h1>
        <%= title %>
    </h1>
    <div class="container-sm">
        <form method="post">
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input name="email" id="inputEmail" type="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</body>
</html>