
body{
   background: #2980B9; 
   background: -webkit-linear-gradient(to top,  #2980B9, #6DD5FA,#FFFFFF);  
   background: linear-gradient(to top,  #2980B9, #6DD5FA,#FFFFFF);; 
}
/*
body{
   background: #F4F4F4;  
}*/