<footer class = "row bg-#2980C9 text-white text-center">           
        <div class="col -sm-6">
        </br><h3> Contact us<a> </a><i class="fas fa-comment"></i></h3>
        </div>
        <div class="col -sm-6">
            <a>Telephone: +57 (1) 1234567</br>Mobil: 3001234567</br>Email: support_un_wallet@gmail.com<br>Chat online</a>
        </div>
        <div class="col -sm-6">                
        </div>
        <div class="col -sm-6">                
        </div>    
</footer>